<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
    <div class="container">
        <button *ngIf="!isEmpty()" class="navbar-toggler navbar-toggler-right" (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">{{ brand }}</a>

        <div class="navbar-collapse" [class.collapse]="!open">
            <ul #navbarEntries class="navbar-nav mr-auto">
                <ng-content select="app-navbar-entry:not([right])"></ng-content>
            </ul>
            <ul #navbarEntriesRight class="navbar-nav">
                <ng-content select="app-navbar-entry[right]"></ng-content>
            </ul>
        </div>
    </div>
</nav>