backend-legacy/config/config-user.php
*/nbproject/private
*/node_modules/*

backend/src/vendor/*
backend/src/config/ConfigUser.php
backend/src/config/ConfigOverride.php
backend/test/config.sh
backend/test/node_modules/
backend/test/logfile.log
