<div class="row justify-content-end">
    <div class="col-12 col-md-6">
        <button class="btn btn-secondary btn-sm">Add user</button>
    </div>
    <div class="col-12 col-md-6 mt-2 mt-md-0">
        <app-pagesize class="float-md-right" [pagesizes]="gs.pageSizes" [currentPagesize]="gs.pageSize" (pagesizeChange)="onPagesizeChange($event)"></app-pagesize>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-responsive-lg">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="w-10 align-middle">
                            <span>ID</span>
                            <app-sort field="id" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                        </th>
                        <th class="align-middle">
                            <div class="form-inline">
                                <span>Name</span>
                                <app-sort field="name" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                                <input class="form-control form-control-sm no-shadow" type="text" placeholder="Search" [formControl]="searchInput">
                            </div>
                        </th>
                        <th class="w-20 align-middle">
                            <div class="form-inline">
                                <span>Type</span>
                                <app-sort field="type" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                                <app-select [options]="typeFilterOptions" [formControl]="typeFilter"></app-select>
                            </div>
                        </th>
                        <th class="w-5 align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList" class="cursor-pointer" (click)="onUserClick(user)">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.type }}</td>
                        <td>
                            <app-fa-icon class="cursor-pointer" icon="trash" appStopPropagateClick (click)="onDeleteUser(user)"></app-fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-paging [pagingInfo]="pagingInfo" [pageWidth]="3" (pageChange)="onPageChange($event)"></app-paging>