<app-pagesize [pagesizes]="gs.pageSizes" [currentPagesize]="gs.pageSize" (pagesizeChange)="onPagesizeChange($event)"></app-pagesize>
<div class="row">
    <div class="col-12">
        <div class="table-responsive-lg">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="w-10 align-middle">
                            <span>ID</span>
                            <app-sort field="id" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                        </th>
                        <th class="align-middle">
                            <div class="form-inline">
                                <span>Name</span>
                                <app-sort field="name" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                                <input class="form-control form-control-sm no-shadow" type="text" placeholder="Search" [formControl]="searchInput">
                            </div>
                        </th>
                        <th class="w-20 align-middle">
                            <div class="form-inline">
                                <span>Name</span>
                                <app-sort field="type" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                                <select class="form-control form-control-sm" [formControl]="typeFilter">
                                    <option value="">No filter...</option>
                                    <option value="MASTER">MASTER</option>
                                    <option value="NATIVE">NATIVE</option>
                                    <option value="SLAVE">SLAVE</option>
                                </select>
                            </div>
                        </th>
                        <th class="w-15 align-middle">
                            <span>Records</span>
                            <app-sort field="records" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                        </th>
                        <th *ngIf="gs.isAdmin" class="w-5 align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let domain of domainList" class="cursor-pointer" (click)="onDomainClick(domain)">
                        <td>{{ domain.id }}</td>
                        <td>{{ domain.name }}</td>
                        <td>{{ domain.type }}</td>
                        <td>{{ domain.records }}</td>
                        <td *ngIf="gs.isAdmin">
                            <app-fa-icon class="cursor-pointer" icon="trash" (click)="onDeleteDomain(domain)"></app-fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<app-paging [pagingInfo]="pagingInfo" [pageWidth]="3" (pageChange)="onPageChange($event)"></app-paging>