<div class="row justify-content-end">
    <div class="col-12 col-md-6" *ngIf="gs.isAdmin">
        <div class="btn-group btn-group-sm">
            <button disabled class="btn btn-secondary">Add domain</button>
            <button routerLink="create/master" class="btn btn-secondary">MASTER</button>
            <button routerLink="create/native" class="btn btn-secondary">NATIVE</button>
            <button routerLink="create/slave" class="btn btn-secondary">SLAVE</button>
        </div>
    </div>
    <div class="col-12 col-md-6 mt-2 mt-md-0">
        <app-pagesize class="float-md-right" [pagesizes]="gs.pageSizes" [currentPagesize]="gs.pageSize" (pagesizeChange)="onPagesizeChange($event)"></app-pagesize>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-responsive-lg">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="w-10 align-middle">
                            <span>ID</span>
                            <app-sort field="id" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                        </th>
                        <th class="align-middle">
                            <div class="form-inline">
                                <span>Name</span>
                                <app-sort field="name" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                                <input class="form-control form-control-sm no-shadow" type="text" placeholder="Search" [formControl]="searchInput">
                            </div>
                        </th>
                        <th class="w-20 align-middle">
                            <div class="form-inline">
                                <span>Name</span>
                                <app-sort field="type" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                                <app-select [options]="typeFilterOptions" [formControl]="typeFilter"></app-select>
                            </div>
                        </th>
                        <th class="w-15 align-middle">
                            <span>Records</span>
                            <app-sort field="records" [activeFields]="sortField" (sort)="onSortEvent($event)"></app-sort>
                        </th>
                        <th *ngIf="gs.isAdmin" class="w-5 align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let domain of domainList" class="cursor-pointer" (click)="onDomainClick(domain)">
                        <td>{{ domain.id }}</td>
                        <td>{{ domain.name }}</td>
                        <td>{{ domain.type }}</td>
                        <td>{{ domain.records }}</td>
                        <td *ngIf="gs.isAdmin">
                            <app-fa-icon class="cursor-pointer" icon="trash" appStopPropagateClick (click)="onDeleteDomain(domain)"></app-fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-paging [pagingInfo]="pagingInfo" [pageWidth]="3" (pageChange)="onPageChange($event)"></app-paging>