<div class="row">
    <div class="col-12">
        <p class="font-weight-bold">Create {{ type | lowercase }} zone</p>
    </div>
</div>
<form autocomplete="off" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control auto-invalid" formControlName="name" />
                <div class="invalid-feedback">
                    Name can not be empty.
                </div>
            </div>

            <div class="form-group">
                <label>Primary</label>
                <input type="text" class="form-control auto-invalid" formControlName="primary" />
                <div class="invalid-feedback">
                    Primary can not be empty.
                </div>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control auto-invalid" formControlName="email" />
                <div class="invalid-feedback">
                    Must be a valid email address.
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 col-lg-2 offset-lg-1">
            <div class="form-group">
                <label>Refresh</label>
                <input type="text" class="form-control auto-invalid" formControlName="refresh" />
                <div class="invalid-feedback">
                    Refresh must be positive integer.
                </div>
            </div>

            <div class="form-group">
                <label>Retry</label>
                <input type="text" class="form-control auto-invalid" formControlName="retry" />
                <div class="invalid-feedback">
                    Retry must be positive integer.
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 col-lg-2 offset-lg-1">
            <div class="form-group">
                <label>Expire</label>
                <input type="text" class="form-control auto-invalid" formControlName="expire" />
                <div class="invalid-feedback">
                    Expire must be positive integer.
                </div>
            </div>

            <div class="form-group">
                <label>TTL</label>
                <input type="text" class="form-control auto-invalid" formControlName="ttl" />
                <div class="invalid-feedback">
                    TTL must be positive integer.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary float-right float-md-left" [disabled]="!authForm.valid || authForm.pristine">Save</button>
        </div>
    </div>
</form>