<div class="row">
    <div class="col-12">
        <h2>{{domainName}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>SOA</h3>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label for="soa-primary" class="control-label">Primary</label>
                        <input type="text" class="form-control" id="soa-primary" placeholder="Primary" autocomplete="off" data-regex="^([^.]+\.)*[^.]+$" tabindex="1">
                    </div>
                    <div class="form-group">
                        <label for="soa-mail" class="control-label">Email</label>
                        <input type="text" class="form-control" id="soa-mail" placeholder="Email" autocomplete="off" data-regex="^.+@[^.]+(\.[^.]+)*$" tabindex="2">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 offset-lg-1">
                    <div class="form-group">
                        <label for="soa-refresh" class="control-label">Refresh</label>
                        <input type="text" class="form-control" id="soa-refresh" placeholder="Refresh" autocomplete="off" data-regex="^[0-9]+$" tabindex="3">
                    </div>
                    <div class="form-group">
                        <label for="soa-retry" class="control-label">Retry</label>
                        <input type="text" class="form-control" id="soa-retry" placeholder="Retry" autocomplete="off" data-regex="^[0-9]+$" tabindex="4">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2 offset-lg-1">
                    <div class="form-group">
                        <label for="soa-expire" class="control-label">Expire</label>
                        <input type="text" class="form-control" id="soa-expire" placeholder="Expire" autocomplete="off" data-regex="^[0-9]+$" tabindex="5">
                    </div>
                    <div class="form-group">
                        <label for="soa-ttl" class="control-label">TTL</label>
                        <input type="text" class="form-control" id="soa-ttl" placeholder="TTL" autocomplete="off" data-regex="^[0-9]+$" tabindex="6">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2 col-lg-2 offset-lg-1">
                    <div class="form-group">
                        <label for="soa-serial" class="control-label">Serial</label>
                        <input type="text" class="form-control" id="soa-serial" placeholder="Serial" disabled data-regex=".*">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button disabled type="submit" class="btn btn-primary" tabindex="7">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>