.vspacer-2  { height: 2px; }
.vspacer-5 { height: 5px; }
.vspacer-10 { height: 10px; }
.vspacer-15 { height: 15px; }
.vspacer-30 { height: 30px; }
.vspacer-40 { height: 40px; }
.vspacer-60 { height: 60px; }
.vspacer-80 { height: 80px; }
.vspacer-100 { height: 100px; }
.vspacer-150 { height: 150px; }

.defaulthidden { display: none; }

.cursor-pointer {cursor: pointer; }

.wrap-all-words {
    word-wrap: break-word;
    max-width: 350px;
}

.no-shadow { 
    box-shadow: none!important;
    border-color: #CCC!important;
}

.cell-vertical-bottom { vertical-align: bottom !important; }
.cell-vertical-middle { vertical-align: middle !important; }
.cell-vertical-top { vertical-align: top !important; }

.select-narrow-70 { width: 70%; }